@import "nib"

flex-version = flex

global-reset()
reset-html5()

light-grey = #FAFAFA
med-grey = #C9C9C9
dark-grey = #333333
dark-hover-grey = #B3B3B3
dark-active-grey = #DDD
border-grey = 1px solid med-grey
accent-blue = #4782B4
sans-font-family = "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif
mono-font-family = "Cousine", monospace

* {
  margin: 0
  padding: 0
}

// Unfortunately nib has no selection mixin
::selection { background: lighten(accent-blue, 80%) }
::-moz-selection { background: lighten(accent-blue, 80%) }

body
  font: 14px/18px sans-font-family
  color: dark-grey
  width: 100%
  height: 100%
  overflow: hidden

a
  text-decoration: none
  color: accent-blue
  &:hover { color: lighten(accent-blue, 20%) }

button
  cursor: pointer

button, select
  font-family: sans-font-family
  font-size: 12px
  font-weight: bold
  color: #444
  background: whiteSmoke
  border: border-grey
  border-radius: 2px
  &:hover
    box-shadow: 0px 1px 1px rgba(0,0,0,.1)
    border: 1px solid dark-hover-grey
  &:active
    background: dark-active-grey

.left-sidebar
  absolute: top left
  height: 100%
  width: 200px
  border-right: border-grey
  overflow-y: auto
  &.closed { display: none }
  header
    text-align: center
    margin: 8px 0 15px 0
    display: table
    width: 100%
    .logo-title
      text-align: left
      div { padding: 34px 0 0 30px }
      display: table-cell
      font: bold 30px "Oswald", sans-serif
    .control-button-container
      display: table-cell
      vertical-align: top
      padding-top: 15px
      width: 40px
      button
        width: 100%
        padding: 0 3px
        border: none
        background: transparent
        color: dark-grey
        opacity: 0.2
        transition: opacity 100ms linear
        &:hover
          box-shadow: none
          color: accent-blue
          opacity: 1
        margin: 2px 0px
        font-size: 22px
    &:hover
      button
        opacity: 1

  .channel-controls-container
    margin-left: -3px
    width: 93%
    .channel-button-placeholder
      width: 147px
      height: 36px
      border: 3px dashed #ccc
      margin: 1px 0
    .channel-button-container
      height: 43px
      width: 100%
      cursor: default
      white-space: nowrap
      .reorder
        cursor: ns-resize
        color: #bbb
        display: none
        font-size: 10px
        position: relative
        top: -2px
        left: -20px
      .leave
        display: none
        color: #888
        font-size: 20px
        position: relative
        left: -8px
      &.hover .reorder
        display: inline-block
      &.hover .leave
        display: inline-block
        &:hover
          color: red
    button
      width: 150px
      height: 36px
      margin: 4px 0px
      padding: 0px 5px 0px 10px
      text-align: left
      font-size: 14px
      overflow: ellipsis
    .current
      border-color: darken(med-grey, 40%)
      background: accent-blue
      color: white
    .unread
      animation-duration: 1.5s
      animation-name: slowblink
      animation-iteration-count: infinite
      animation-direction: alternate
    @keyframes slowblink 
      from 
        box-shadow: 0px 0px 5px 1px accent-blue
      to
        box-shadow: 0px 0px 5px 1px lighten(accent-blue, 55%)
    div.add-channel-container
      font-size: 14px
      font-weight: bold
      color: #444
      background: whiteSmoke
      border: border-grey
      border-radius: 2px
      &:hover
        box-shadow: 0px 1px 1px rgba(0,0,0,.1)
        border: 1px solid dark-hover-grey
      &:active
        background: dark-active-grey
      width: 15px
      margin: 4px 0px
      padding: 0px 5px 0px 10px
      text-align: left
      .plus-label
        height: 36px
        line-height: 36px
        width: 10px
        text-align: center
        font-size: 16px
        user-select: none
        cursor: pointer
        display: inline-block
        &.rotated, &.unrotated
          -webkit-transition: all 150ms linear
          -webkit-transform-origin: 5px 19px
        &.rotated { -webkit-transform: rotate(45deg) }
        &.unrotated { -webkit-transform: rotate(0deg) }
      .new-channel-name
        width: 85%
        font-family: inherit
        font-size: 14px
        display: none
        border: border-grey
        height: 24px
        outline: none
        border-radius: 2px
        padding-left: 3px


.right-sidebar
  absolute: top right
  height: 100%
  width: 200px
  overflow-y: auto
  &.closed { display: none }
  .channel-users
    &:not(.current) { display: none }
    width: 100%
    overflow-y: auto
    .user-status
      cursor: default
      background-repeat: no-repeat
      background-position: 5px 3px
      padding: 0 5px 0 (18px + 5px + 5px)
      font-size: 14px
      line-height: 26px
      position: relative
      .overlay
        pointer-events: none
        absolute: top left
        width: 100%
        height: 100%
        background-color: white
        opacity: 0
        z-index: 100
      &.offline
        font-style: italic
        .overlay { opacity: 0.7 }
      &.hide
        display: none

#spin-overlay
  position: absolute
  width: 100%
  top: 30px
  bottom: 0px
  background-color: black
  opacity: 0.4
  z-index: 10

.chat-column
  background: white
  absolute: top left
  min-width: 300px
  height: 100%
  &.collapse-left { left: 0px }
  &.collapse-right { right: 0px }
  &:not(.collapse-right)
    right: 200px
    .message-container { margin-right: 0px }
    .chat-controls
      border-radius: bottom right 2px
      border-right: border-grey
    .input-container
      border-radius: top right 2px
      border-right: border-grey
  &:not(.collapse-left)
    left: 200px
    .message-container { margin-left: 0px }
    .chat-controls
      border-radius: bottom left 2px
      border-left: border-grey
    .input-container
      border-radius: top left 2px
      border-left: border-grey
.alert-container
  relative: top
  margin-top: 32px
  margin-left: auto
  margin-right: auto
  z-index: 5000
.alert
  padding: 8px 35px 8px 14px
  margin-bottom: 18px
  color: #C09853
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  background-color: #FCF8E3
  border: 1px solid #FBEED5
  border-radius: 4px
  .close
    relative: top -2px right -21px
    line-height: 18px
  &.alert-error
    color: #B94A48
    background-color: #F2DEDE
    border-color: #EED3D7
.close
  float: right
  font-size: 20px
  font-weight: bold
  line-height: 18px
  color: black
  text-shadow: 0 1px 0 white
  opacity: 0.2
.chat-controls
  absolute: top left
  right: 0px
  height: 29px
  background: light-grey
  border-bottom: border-grey
  button
    height: 25px
    width: 25px
    background: none
    border: none
    color: #888
    &:hover
      color: accent-blue
      box-shadow: none
  .toggle-left-sidebar
    absolute: top left
  .toggle-right-sidebar
    absolute: top right
  .toggle-right-sidebar, .toggle-left-sidebar
    margin: 2px 0
    font-size: 13px
    // padding dependent on font-size
    padding-top: 2px
  .channel-name
    position: relative
    width: 30%
    margin-left: auto
    margin-right: auto
    margin-top: 5px
    margin-bottom: 5px
    text-align: center

.chat-messages
  &:not(.current)
    // We should just have 'display: none' here, but doing this instead is a workaround for an extremely
    // strange bug where the input box hangs before deleting the first character. See
    // https://github.com/bkad/prat/issues/70.
    // TODO(caleb): Figure out the real root cause, remove this hack.
    opacity: 0
    pointer-events: none
  absolute: top 30px left
  bottom: 81px
  width: 100%
  background: white
  overflow-y: auto
  overflow-x: hidden
  padding-top: 5px

.message-container
  font-size: 14px
  margin: 8px
  position: relative
  .author
    display: inline-block
    font-size: 12px
    line-height: 0
    font-weight: bold
    absolute: top 9px left 18px + 3px
  .email
    display: none
  .gravatar
    display: inline-block
  .time
    display: inline-block
    float: right
    font-size: 9px
    margin-right: 5px

.message, .markdown
  &.markdown
    line-height: 20px
    li
      margin-bottom: 10px
  h1, h2, h3, h4, h5
    font-weight: bold
  h1
    font-size: 20px
    margin: 10px 0
  h2
    font-size: 16px
    margin: 10px 0
  h3
    margin: 5px 0
  div.image
    position: relative
    width: 0
    span
      display: none
    img
      max-width: 600px
      max-height: 600px
    button.hide-image
      opacity: 0
      transition: opacity 100ms linear
      absolute: top 10px left 10px
      font-size: 18px
      height: 30px
      width: 30px
      &:after { content: "×" }
    &:hover
      button.hide-image { opacity: 1 }
    &.closed
      height: 30px
      width: 180px
      background-color: lighten(accent-blue, 85%)
      border-radius: 2px
      span
        display: inline-block
        padding: 0 10px
        font-style: italic
      img { display: none }
      iframe { display: none }
      button
        position: static
        opacity: 1
        &:after { content: "+" }
  strong
    font-weight: bold
  em
    font-style: italic
  blockquote
    border-left: 5px solid lighten(accent-blue, 60%)
    padding-left: 4px
    color: lighten(dark-grey, 15%)
  p, ol, div, ul
    margin-bottom: 5px
  ul, ol
    padding-left: 30px
  ul
    list-style-type: disc
  ol
    list-style-type: decimal
  hr
    border: none
    border-top: 1px dashed #ddd
    margin: 10px 50px
  code
    padding: 0px 2px
    // TODO(kle): figure out why mac and ubuntu render line height differently for code
    font: 12px/14px mono-font-family
    background: lighten(accent-blue, 85%)
  .highlight
    white-space: pre
    padding: 5px
    font: 12px/16px mono-font-family
    background: lighten(accent-blue, 93%)
    border: border-grey
    border-radius: 2px
    overflow-x: auto
  .channel-mention
    color: accent-blue
    border: 1px solid lighten(accent-blue, 60%)
    padding: 0 2px
    cursor: pointer
    border-radius: 3px
    &:hover
      background-color: lighten(accent-blue, 97%)
  .user-mention
    font-weight: bold
  .its-you
    color: accent-blue
  display: inline

.message-separator
  &:first-child
    display: none
  border-bottom: 1px solid lighten(med-grey, 60%)

.input-container
  padding-amount = 10px
  input-controls-width = 75px
  container-height = 80px
  absolute: bottom left
  right: 0px
  height: container-height
  background: light-grey
  border-top: border-grey
  .chat-text-wrapper
    background: white
    border-radius: 2px
    border: border-grey
    textarea
      padding: 5px
      box-sizing: border-box
      font-family: sans-font-family
      border: none
      width: 100%
      height: 100%
      font-size: 14px
      resize: none
  .chat-text-wrapper
    absolute: top padding-amount left padding-amount
    right: input-controls-width + padding-amount
    height: container-height - (2 * padding-amount)
  .input-controls
    absolute: top right
    bottom: 0px
    padding: padding-amount 0
    width: input-controls-width
    button
      button-margin = 6px
      height: ((container-height - (2 * padding-amount) - button-margin) / 2)
      width: input-controls-width - padding-amount
      margin-bottom: button-margin

.modal-backdrop
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1040
  background-color: black

  &.fade
    opacity: 0
    transition: opacity 100ms linear
    &.in { opacity: 0.4 }

.modal
  position: fixed
  top: 10%
  left: 50%
  z-index: 1050
  width: 600px
  margin-left: -300px
  &.user-guide
    width: 700px
    margin-left: -350px
  background-color: #fff
  border: 1px solid rgba(0, 0, 0, 0.3)

  border-radius: 3px
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3)
  background-clip: padding-box
  outline: none

  &.fade
    opacity 0
    transition: opacity 100ms linear

    &.in
      opacity 1
      top: 10%

.modal-header
  padding: 9px 15px
  border-bottom: 1px solid #eee

  .close
    margin-top: 2px
    padding: 0
    cursor: pointer
    background: transparent
    border: 0
    appearance: none

  h3
    font: bold 30px "Oswald", sans-serif
    text-transform: lowercase
    margin: 0
    line-height: 30px
    font-size: 24px
    font-weight: bold

.modal-body
  position: relative
  overflow-y: auto
  max-height: 400px
  padding: 15px

#info-body
  width: 100%
  display: table
  .column
    display: table-cell
    vertical-align: top

#info-nav
  width: 150px
  border-right: 1px solid #eee
  padding-top: 15px
  user-select: none
  ul > li
    display: block
    width: 80px
    margin: 6px auto
    color: accent-blue
    font-size: 14px
    line-height: 32px
    padding: 0 12px
    border-radius: 2px
    cursor: pointer
    &.selected
      background-color: accent-blue
      color: light-grey
    &:not(.selected):hover
      background-color: darken(light-grey, 3%)

#info-contents { position: relative }

#info-body
  height: 350px
  .info-contents-pane
    padding: 15px
    position: absolute
    height: @height - (2 * @padding)
    overflow-y: auto
    opacity: 0
    transition: opacity 100ms linear
    pointer-events: none
    &.selected
      opacity: 1
      pointer-events: all

#keyboard-shortcuts
  tr
    line-height: 20px
  span
    padding: 2px 6px
    margin: 2px 0
    display: inline-block
  .keys
    font-family: mono-font-family
    background: accent-blue
    color: light-grey
    border-radius: 2px
    text-shadow: 1px 1px 0 #222
    box-shadow: inset 1px 1px 1px #444
  td:first-child
    text-align: right
    padding-right: 14px

#preferences
  label
    display: block
    margin: 10px 0
    color: lighten(dark-grey, 20%)
    user-select: none
    &:hover
      color: dark-grey
    code
      background-color: lighten(accent-blue, 85%)
      padding: 0 4px
      font-family: mono-font-family

.modal-footer
  padding: 10px 15px
  margin-bottom: 0
  text-align: right
  background-color: light-grey
  border-top: 1px solid #ddd
  border-radius: 0 0 3px 3px
  box-shadow: inset 0 1px 0 #fff

  .btn + .btn
    margin-left: 5px
    margin-bottom: 0

  .btn
    height: 27px
    width: 65px

  #save-preferences
    width: 100px
    color: light-grey
    background-color: accent-blue
    border-color: lighten(dark-grey, 30%)
    &:hover
      border-color: lighten(dark-grey, 20%)
    &:active
      background-color: darken(accent-blue, 10%)
