<div id="help" class="modal fade" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Help</h3>
  </div>
  <div class="modal-body">
    <h4>Keyboard Shortcuts</h4>
    {{#bindings}}
      <div class="keyboardHelp"><span class="keys">{{keys}}</span><span class="helpMsg">{{helpMsg}}</span></div>
    {{/bindings}}
</pre>
  </div>
</div>