<div class="left-sidebar" ng-class="{closed: leftSidebarClosed}">
  <header>
    <div class="control-button-container">
      <button id="user-info-button" data-placement="right" title="User guide">
        <span class="icon-question-sign"></span>
      </button>
      <button id="settings-button" data-placement="right" title="Preferences">
        <span class="icon-cog"></span>
      </button>
      <a href="/auth/logout">
        <button id="logout" data-placement="right" title="Logout">
          <span class="icon-signout"></span>
        </button>
      </a>
    </div>
    <div class="logo-title">
      <div>prat</div>
    </div>
  </header>
  <div class="channel-controls-container">
    <div class="add-channel-container">
      <div class="plus-label">+</div>
      <input type="text" class="new-channel-name" />
    </div>
  </div>
</div>

<div class="chat-column" ng-class="{'collapse-left': leftSidebarClosed, 'collapse-right': rightSidebarClosed}">
  <div class="chat-controls">
    <button class="toggle-left-sidebar" ng-click="toggleSidebar('left')">
      <span ng-class="{'icon-chevron-right': leftSidebarClosed, 'icon-chevron-left': !leftSidebarClosed}"></span>
    </button>
    <button class="toggle-right-sidebar" ng-click="toggleSidebar('right')">
      <span ng-class="{'icon-chevron-left': rightSidebarClosed, 'icon-chevron-right': !rightSidebarClosed}"></span>
    </button>
    <div class="channel-name">{{channelMap[activeChannel].name}}</div>
  </div>
  <div class="chat-messages-container" ng-show="channel == activeChannel" ng-repeat="channel in channels">
    <div class="message-container" ng-repeat="messageGroup in channel.messageGroups">
      <div class="message" ng-repeat="message in messageGroup">
        <div class="metadata">
          <div class="author-container">
            <img class="gravatar" ng-src="{{message.user.gravatar}}"></img>
            <div class="author">
              {{message.user.name}}
              <span class="username">{{message.user.username}}</span>
            </div>
          </div>
          <div class="time">PLACEHOLDER</div>
        </div>
      </div>
    </div>
  </div>
  <div class="input-container" ng-show="channel == activeChannel" ng-repeat="channel in channels"
      ng-init="input = {message: ''}">
    <div class="chat-text-wrapper">
      <textarea ng-model="input.message" ui-keypress="{enter: 'sendMessage(input, channel, $event)'}"></textarea>
    </div>
    <div class="input-controls">
      <button class="chat-submit" ng-click="sendMessage(input, channel)">Send</button>
      <button class="chat-preview">Preview</button>
    </div>
  </div>
</div>

<div class="right-sidebar" ng-class="{closed: rightSidebarClosed}">
</div>
</div>
