<div class="left-sidebar" ng-class="{closed: leftSideBarClosed}">
  <header>
    <div class="control-button-container">
      <button id="user-info-button" data-placement="right" title="User guide">
        <span class="icon-question-sign"></span>
      </button>
      <button id="settings-button" data-placement="right" title="Preferences">
        <span class="icon-cog"></span>
      </button>
      <a href="{{ url_for("auth.logout") }}">
        <button id="logout" data-placement="right" title="Logout">
          <span class="icon-signout"></span>
        </button>
      </a>
    </div>
    <div class="logo-title">
      <div>prat</div>
    </div>
  </header>
  <div class="channel-controls-container">
    <div class="add-channel-container">
      <div class="plus-label">+</div>
      <input type="text" class="new-channel-name" />
    </div>
  </div>
</div>

<div class="chat-column" ng-class="{'collapse-left': leftSidebarClosed, 'collapse-right': rightSidebarClosed}">
  <div id="spin-overlay"></div>
  <div class="alert-container"></div>
  <div class="chat-controls">
    <button class="toggle-left-sidebar">
      <span ng-class="{'icon-chevron-right': leftSidebarClosed, 'icon-chevron-left': !leftSidebarClosed}"></span>
    </button>
    <button class="toggle-right-sidebar">
      <span ng-class="{'icon-chevron-left': rightSidebarClosed, 'icon-chevron-right': !rightSidebarClosed}"></span>
    </button>
    <div class="channel-name">PLACEHOLDER</div>
  </div>
  <div class="input-container">
    <div class="chat-text-wrapper"><textarea id="chat-text"></textarea></div>
    <div id="message-preview" class="modal fade" tabindex="-1" style="display:none">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3 id="message-preview-header-label">Message Preview</h3>
      </div>
      <div class="modal-body">
        <div class="message"></div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button id="preview-submit" class="btn">Send</button>
      </div>
    </div>
    <div class="input-controls">
      <button class="chat-submit">Send</button>
      <button class="chat-preview">Preview</button>
    </div>
  </div>
</div>

<div class="right-sidebar" ng-class="{closed: rightSidebarClosed}">
</div>

<div id="preferences" data-show="false" class="modal fade" tabindex="-1" style="display: none">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Preferences</h3>
  </div>
  <div class="modal-body">
  </div>
</div>
