<div class="left-sidebar" ng-class="{closed: leftSidebarClosed}">
  <header>
    <div class="control-button-container">
      <button id="user-info-button" tooltip="User guide" tooltip-placement="right" ng-click="infoModal()">
        <span class="fa fa-question-circle"></span>
      </button>
      <button id="settings-button" tooltip="Preferences" tooltip-placement="right">
        <span class="fa fa-cog"></span>
      </button>
      <a href="/auth/logout">
        <button id="logout" tooltip="Logout" tooltip-placement="right">
          <span class="fa fa-sign-out"></span>
        </button>
      </a>
    </div>
    <div class="logo-title">
      <div>prat</div>
    </div>
  </header>

  <div class="channel-controls-container" ui-sortable="channelSortable" ng-model="channelOrder">
    <div class="channel-button-container" ng-repeat="channel in channelOrder">
      <button class="channel" ng-click="switchChannel(channel)" ng-class="{current: activeChannel == channel}">
        {{channel}}
      </button>
      <span class="reorder fa fa-bars"></span>
      <a class="leave fa fa-trash-o" tooltip="Remove" tooltip-placement="right" append-to-body="true"></a>
    </div>
    <div class="add-channel-container">
      <div class="plus-label">+</div>
      <input type="text" class="new-channel-name">
    </div>
  </div>
</div>

<div class="chat-column" ng-class="{'collapse-left': leftSidebarClosed, 'collapse-right': rightSidebarClosed}">
  <div class="chat-controls">
    <button class="toggle-left-sidebar" ng-click="toggleSidebar('left')">
      <span class="fa" ng-class="{'fa-chevron-right': leftSidebarClosed, 'fa-chevron-left': !leftSidebarClosed}"></span>
    </button>
    <button class="toggle-right-sidebar" ng-click="toggleSidebar('right')">
      <span class="fa" ng-class="{'fa-chevron-left': rightSidebarClosed, 'fa-chevron-right': !rightSidebarClosed}"></span>
    </button>
    <div class="channel-name">{{activeChannel}}</div>
  </div>
  <div class="chat-messages" ng-repeat="channel in channelOrder" ng-show="channel == activeChannel">
    <div class="message-container" ng-repeat="group in channels[channel].messageGroups">
      <div class="author-container">
        <div>
          <img class="gravatar" height="18" width="18" ng-src="{{group.user.gravatar}}">
          <div class="author">{{group.user.name}} <span class="username">({{group.user.username}})</span></div>
        </div>
        <div>
          <div class="time">24 minutes ago</div>
        </div>
      </div>
      <div class="message" ng-repeat="message in group.messages" ng-bind-html="message.rendered_message"></div>
    </div>
  </div>
  <div class="input-container" ng-show="channel == activeChannel" ng-repeat="channel in channelOrder"
      ng-init="input = {message: ''}">
    <div class="chat-text-wrapper">
      <textarea ng-model="input.message" ui-keypress="{enter: 'sendMessage(input, channel, $event)'}"></textarea>
    </div>
    <div class="input-controls">
      <button class="chat-submit" ng-click="sendMessage(input, channel)">Send</button>
      <button class="chat-preview">Preview</button>
    </div>
  </div>
</div>

<div class="right-sidebar" ng-class="{closed: rightSidebarClosed}">
  <div class="channel-users" ng-repeat="channel in channelOrder" ng-show="channel == activeChannel">
    <div class="user-status" ng-repeat="user in channels[channel].users|orderBy:userSort"
          ng-hide="preferences.hideOffline && user.status == 'offline'" ng-class="{offline: user.status == 'offline'}">
      <img class="gravatar" height="18" width="18" ng-src="{{user.gravatar}}"></img>
      {{user.name}}
    </div>
  </div>
</div>
