<div class="user-status {{ status }} {{#hide}}hide{{/hide}}"
    style="background-image: url({{ gravatar }})"
    data-placement="left"
    title="{{ username }}">
  <span>{{ name }}</span>
  <div class="overlay"></div>
</div>
