<div class="user-status {{ status }} east" style="background-image: url({{ gravatar }})" rel="tipsy"
    title="{{ username }}">
  <span>{{ name }}</span>
  <button id="private_chat" class="west">
    <span class="ss-icon">chat</span>
  </button>
  <button id="voice_chat" class="west">
    <span class="ss-icon">phone</span>
  </button>
  <button id="video_chat" class="west">
    <span class="ss-icon">video</span>
  </button>
  <div class="overlay"></div>
</div>
