<div id={{ username }} class="user-status {{ status }} east" style="background-image: url({{ gravatar }})" rel="tipsy"
    title="{{ username }}">
  <span>{{ name }}</span>
  {{ #isNotCurrentUser }}
  <button class="private-chat {{ status }} west" title="{{ username }}">
    <span class="ss-icon">chat</span>
  </button>
  <button class="{{ status }} west">
    <span class="ss-icon">phone</span>
  </button>
  <button class="{{ status }} west">
    <span class="ss-icon">video</span>
  </button>
  {{ /isNotCurrentUser }}
  <div class="overlay"></div>
</div>
